services:
  download_links:
    build: 
      context: .
      dockerfile: ./projects/downloadLinks/dockerfile
    container_name: downloadLinks
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq
  
  extracted_text_v2:
    build: 
      context: .
      dockerfile: ./projects/extractedTextV2/dockerfile
    container_name: extracted_text_v2
    networks:
      - dev
    depends_on:
      - files_manager
      - rabbitmq

  download:
    build:
      context: .
      dockerfile: ./projects/download/dockerfile
    container_name: download
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq
      
  events:
    build:
      context: .
      dockerfile: ./projects/events/dockerfile
    container_name: events
    networks:
      - dev
    ports:
      - 3001:3001
    depends_on: 
      - mongo
      - rabbitmq

  frontend:
    build: ./projects/frontend
    container_name: frontend
    networks:
      - dev
    ports:
      - 3000:3000
  post_download:
    build: 
      context: .
      dockerfile: ./projects/postDownload/dockerfile
    container_name: postDownload
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq

  extracted_text:
    build:
      context: .
      dockerfile: ./projects/extractedText/dockerfile
    container_name: extractedText
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq

  analyze_extracted_text:
    build:
      context: .
      dockerfile: ./projects/analyzeExtractedText/dockerfile
    container_name: analyzeExtractedText
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq

  ai_text_analyze:
    build:
      context: .
      dockerfile: ./projects/aiTextAnalyze/dockerfile
    container_name: aiTextAnalyze
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq

  insert_data:
    build: 
      context: .
      dockerfile: ./projects/insertData/dockerfile
    container_name: insertData
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq

  files_manager:
    build: 
      context: .
      dockerfile: ./projects/filesManager/dockerfile
    container_name: filesManager
    networks:
      - dev
    ports:  
      - 4000:4000

  export_to_json:
    build: 
      context: .
      dockerfile: ./projects/exportToJson/dockerfile
    container_name: exportToJson
    networks:
      - dev
    depends_on:
      - files_manager
      - mongo
      - rabbitmq
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    volumes:
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
      - ./volumes/rabbitmq/logs:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin  
    networks:
      - dev

  mongo:
    image: mongo:latest
    container_name: mongo
    ports:
      - 27017:27017
    volumes:
      - ./volumes/mongo/data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root  
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - dev
  
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./apigetway/nginx.conf:/etc/nginx/nginx.conf

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - dev

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
    networks:
      - dev

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "5000:3000"
    networks:
      - dev

  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: informacion-dominicana
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dev

volumes:
  pgdata:

networks:
  dev:
    driver: bridge