services:
  download_links:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ./projects/downloadLinks/dockerfile-pro
    container_name: downloadLinks

  extracted_text:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ./projects/extractedText/dockerfile
    container_name: extracted_text
    depends_on:
      - files_manager
      - rabbitmq
    

  download:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./projects/download/dockerfile-pro
    container_name: download

  events:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./projects/events/dockerfile-pro
    container_name: events
    ports:
      - 3001:3001
    depends_on: 
      - mongo
      - rabbitmq

  post_download:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ./projects/postDownload/dockerfile-pro
    container_name: postDownload

  analyze_extracted_text:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./projects/analyzeExtractedText/dockerfile-pro
    container_name: analyzeExtractedText

  ai_text_analyze:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./projects/aiTextAnalyze/dockerfile-pro
    container_name: aiTextAnalyze

  auth:
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./projects/auth/dockerfile-pro
    container_name: auth

  insert_data:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ./projects/insertData/dockerfile-pro
    container_name: insertData

  files_manager:
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ./projects/filesManager/dockerfile-pro
    container_name: filesManager
    ports:
      - 4000:4000

  export_to_json: 
    restart: unless-stopped
    build: 
      context: .
      dockerfile: ./projects/exportToJson/dockerfile-pro
    container_name: exportToJson

  rabbitmq:
    image: rabbitmq:3-management
    restart: unless-stopped
    container_name: rabbitmq
    volumes:
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
      - ./volumes/rabbitmq/logs:/var/log/rabbitmq

  mongo:
    restart: unless-stopped
    image: mongo:latest
    container_name: mongo
    volumes:
      - ./volumes/mongo/data:/data/db
    ports:
      - 27017:27017

  loki:
    restart: unless-stopped
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - 3100:3100
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml

  promtail:
    restart: unless-stopped
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml

  grafana:
    restart: unless-stopped
    image: grafana/grafana:latest
    container_name: grafana

  postgres:
    restart: unless-stopped
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    ports: 
      - 9000:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
  
volumes:
  portainer_data:
  dokploy_data:
  pgdata:
