services:
  download_links:
    restart: always
    build: 
      context: .
      dockerfile: ./projects/downloadLinks/dockerfile-pro
    container_name: downloadLinks
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  extracted_text:
    restart: always
    build: 
      context: .
      dockerfile: ./projects/extractedText/dockerfile
    container_name: extracted_text
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  download:
    restart: always
    build:
      context: .
      dockerfile: ./projects/download/dockerfile-pro
    container_name: download
    networks:
      -
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  events:
    restart: always
    build:
      context: .
      dockerfile: ./projects/events/dockerfile-pro
    container_name: events
    networks:
      - dev
    ports:
      - 3001:3001
    depends_on: 
      - mongo
      - rabbitmq
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      MONGO_DB_USER: ${MONGO_DB_USER}
      MONGO_DB_PASSWORD: ${MONGO_DB_PASSWORD}

  post_download:
    restart: always
    build: 
      context: .
      dockerfile: ./projects/postDownload/dockerfile-pro
    container_name: postDownload
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  analyze_extracted_text:
    restart: always
    build:
      context: .
      dockerfile: ./projects/analyzeExtractedText/dockerfile-pro
    container_name: analyzeExtractedText
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  ai_text_analyze:
    restart: always
    build:
      context: .
      dockerfile: ./projects/aiTextAnalyze/dockerfile-pro
    container_name: aiTextAnalyze
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  auth:
    restart: always
    build:
      context: .
      dockerfile: ./projects/auth/dockerfile-pro
    container_name: auth
    networks:
      - dev
    environment:
      CLERK_PUBLISHABLE_KEY: ${CLERK_PUBLISHABLE_KEY}
      CLERK_SECRET_KEY: ${CLERK_SECRET_KEY}

  insert_data:
    restart: always
    build: 
      context: .
      dockerfile: ./projects/insertData/dockerfile-pro
    container_name: insertData
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}
      POSTGRES_DB_USER: ${POSTGRES_DB_USER}
      POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}

  files_manager:
    restart: always
    build: 
      context: .
      dockerfile: ./projects/filesManager/dockerfile-pro
    container_name: filesManager
    networks:
      - dev

  export_to_json: 
    restart: always
    build: 
      context: .
      dockerfile: ./projects/exportToJson/dockerfile-pro
    container_name: exportToJson
    networks:
      - dev
    environment:
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASSWORD: ${RABBITMQ_PASSWORD}

  rabbitmq:
    image: rabbitmq:3-management
    restart: always
    container_name: rabbitmq
    volumes:
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
      - ./volumes/rabbitmq/logs:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASSWORD}  
    networks:
      - dev

  mongo:
    restart: always
    image: mongo:latest
    container_name: mongo
    volumes:
      - ./volumes/mongo/data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_DB_USER}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_DB_PASSWORD}
    networks:
      - dev

  loki:
    restart: always
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    ports:
      - 3100:3100
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - dev

  nginx:
    restart: always
    image: nginx:latest
    container_name: nginx
    ports:
        - 443:443/tcp
        - 80:80/tcp
    volumes:
      - ./projects/apigetway/default.conf:/etc/nginx/conf.d/default.conf
      - ./letsencrypt:/etc/letsencrypt
      - ./projects/apigetway/html:/var/www/html:ro
    networks:
      - dev
    environment:
      CERTBOT_EMAIL: gabrielqwes123@gmail.com
      ENVSUBST_VARS: FQDN
      FQDN: api.informacion-dominicana.com
    profiles: ["optional"]
    depends_on:
      - events
      - grafana
      - promtail
      - loki
      - postgres
      - mongo

  promtail:
    restart: always
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock:ro 
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
    networks:
      - dev

  grafana:
    restart: always
    image: grafana/grafana:latest
    container_name: grafana
    networks:
      - dev

  postgres:
    restart: always
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_DB_USER}
      POSTGRES_PASSWORD: ${POSTGRES_DB_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dev

  portainer:
    image: portainer/portainer-ce:latest
    container_name: portainer
    networks:
      - dev
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data

  mongo-express:
    image: mongo-express:latest
    container_name: mongo-express
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_DB_USER}
      ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_DB_PASSWORD}
      ME_CONFIG_MONGODB_SERVER: mongo
    networks:
      - dev
    depends_on:
      - mongo

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_USER}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    networks:
      - dev
    depends_on:
      - postgres

volumes:
  pgdata:
  portainer_data:

networks:
  dev:
    driver: bridge
