services:
  download_links:
    build:
      context: .
      dockerfile: ./projects/downloadLinks/dockerfile
    container_name: downloadLinks
    volumes:
      - ./projects/downloadLinks:/app/projects/downloadLinks
    networks:
      - dev

  extracted_text:
    build:
      context: .
      dockerfile: ./projects/extractedText/dockerfile
    container_name: extractedText
    volumes:
      - ./projects/extractedText:/app/projects/extractedText
    networks:
      - dev

  download:
    build:
      context: .
      dockerfile: ./projects/download/dockerfile
    container_name: download
    volumes:
      - ./projects/download:/app/projects/download
    networks:
      - dev

  events:
    build:
      context: .
      dockerfile: ./projects/events/dockerfile
    container_name: events
    volumes:
      - ./projects/events:/app/projects/events
    networks:
      - dev
    ports:
      - "3001:3001"

  post_download:
    build:
      context: .
      dockerfile: ./projects/postDownload/dockerfile
    container_name: postDownload
    volumes:
      - ./projects/postDownload:/app/projects/postDownload
    networks:
      - dev

  analyze_extracted_text:
    build:
      context: .
      dockerfile: ./projects/analyzeExtractedText/dockerfile
    container_name: analyzeExtractedText
    volumes:
      - ./projects/analyzeExtractedText:/app/projects/analyzeExtractedText
    networks:
      - dev

  ai_text_analyze:
    build:
      context: .
      dockerfile: ./projects/aiTextAnalyze/dockerfile
    container_name: aiTextAnalyze
    volumes:
      - ./projects/aiTextAnalyze:/app/projects/aiTextAnalyze
    networks:
      - dev

  insert_data:
    build:
      context: .
      dockerfile: ./projects/insertData/dockerfile
    container_name: insertData
    volumes:
      - ./projects/insertData:/app/projects/insertData
    networks:
      - dev

  files_manager:
    build:
      context: .
      dockerfile: ./projects/filesManager/dockerfile
    container_name: filesManager
    volumes:
      - ./projects/filesManager:/app/projects/filesManager
      - ./data:/app/data
    networks:
      - dev
    ports:
      - 4000:4000

  export_to_json:
    build:
      context: .
      dockerfile: ./projects/exportToJson/dockerfile
    container_name: exportToJson
    volumes:
      - ./projects/exportToJson:/app/projects/exportToJson
    networks:
      - dev

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    volumes:
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
      - ./volumes/rabbitmq/logs:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    ports:
      - 5672:5672
      - 15672:15672
    networks:
      - dev

  mongo:
    image: mongo:latest
    container_name: mongo
    volumes:
      - ./volumes/mongo/data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - dev
    ports:
      - 27017:27017

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    ports:
      - 3100:3100
    networks:
      - dev

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
    networks:
      - dev

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "5000:3000"
    networks:
      - dev

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: informacion-dominicana
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dev
  
  minio:
    image: minio/minio
    volumes:
      - minio-data:/data
    networks:
      - dev
    environment:
      - MINIO_ROOT_USER=MINIO_ROOT_USER
      - MINIO_ROOT_PASSWORD=MINIO_ROOT_PASSWORD
      - MINIO_BROWSER_REDIRECT_URL=http://localhost:9001
    command: server /data --console-address ":9001"
    ports:
      - 9000:9000
      - 9001:9001

volumes:
  pgdata:
  minio-data:

networks:
  dev:
    driver: bridge
