services:
  download_links:
    build:
      context: .
      dockerfile: ./projects/downloadLinks/dockerfile
    container_name: downloadLinks
    volumes:
      - ./projects/downloadLinks:/app/projects/downloadLinks
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  extracted_text:
    build:
      context: .
      dockerfile: ./projects/extractedTextV2/dockerfile
    container_name: extractedText
    volumes:
      - ./projects/extractedTextV2:/app/projects/extractedTextV2
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
      mongo:
        condition: service_healthy

  download:
    build:
      context: .
      dockerfile: ./projects/download/dockerfile
    container_name: download
    volumes:
      - ./projects/download:/app/projects/download
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  events:
    build:
      context: .
      dockerfile: ./projects/events/dockerfile
    container_name: events
    volumes:
      - ./projects/events:/app/projects/events
    networks:
      - dev
    depends_on:
      mongo:
        condition: service_started
      files_manager:
        condition: service_started
      rabbitmq:
        condition: service_healthy
    ports:
      - "3001:3001"

  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: ./projects/frontend/dockerfile
    volumes:
      - ./projects/frontend:/app/projects/frontend
    networks:
      - dev

  post_download:
    build:
      context: .
      dockerfile: ./projects/postDownload/dockerfile
    container_name: postDownload
    volumes:
      - ./projects/postDownload:/app/projects/postDownload
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  analyze_extracted_text:
    build:
      context: .
      dockerfile: ./projects/analyzeExtractedText/dockerfile
    container_name: analyzeExtractedText
    volumes:
      - ./projects/analyzeExtractedText:/app/projects/analyzeExtractedText
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  ai_text_analyze:
    build:
      context: .
      dockerfile: ./projects/aiTextAnalyze/dockerfile
    container_name: aiTextAnalyze
    volumes:
      - ./projects/aiTextAnalyze:/app/projects/aiTextAnalyze
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  insert_data:
    build:
      context: .
      dockerfile: ./projects/insertData/dockerfile
    container_name: insertData
    volumes:
      - ./projects/insertData:/app/projects/insertData
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  files_manager:
    build:
      context: .
      dockerfile: ./projects/filesManager/dockerfile
    container_name: filesManager
    volumes:
      - ./projects/filesManager:/app/projects/filesManager
      - ./data:/app/data
    networks:
      - dev

  export_to_json:
    build:
      context: .
      dockerfile: ./projects/exportToJson/dockerfile
    container_name: exportToJson
    volumes:
      - ./projects/exportToJson:/app/projects/exportToJson
    networks:
      - dev
    depends_on:
      files_manager:
        condition: service_healthy
      mongo:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    volumes:
      - ./volumes/rabbitmq/data:/var/lib/rabbitmq
      - ./volumes/rabbitmq/logs:/var/log/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - dev
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  mongo:
    image: mongo:latest
    container_name: mongo
    volumes:
      - ./volumes/mongo/data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    networks:
      - dev

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki-config.yaml:/etc/loki/local-config.yaml
    networks:
      - dev

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/log:/var/log
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./promtail-config.yaml:/etc/promtail/promtail-config.yaml
    networks:
      - dev

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "5000:3000"
    networks:
      - dev

  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: informacion-dominicana
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:

networks:
  dev:
    driver: bridge
