.tv-lightweight-charts > table[cellspacing="0"]{
    height: auto !important;
    width: auto !important;
}

.tv-lightweight-charts * {
    border: none !important;
}

.custom-chart-card{
    display: grid;
    grid-template-rows: 20% 80%;
    border: 1px solid #fff;
    width:  620px;
    border-radius: 30px;
    padding: 10px;
}