.comparar {
  position: absolute;
  left: 5%;
  width: 90%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.inputs {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 10px;
}

.footerTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #000;
  margin-left: 10px;
}

.bgWhite {
  background: white;
}

.selecteEmployee {
  position: absolute;
  background: rgba(255, 0, 0, 0.521);
}


.selecteEmployeeOpacity {
  opacity: 0;
}

.overflowImage {
  width: 100%;
  height: 100%;
  overflow: hidden;
}