.overflowImage {
  display: flex;
  flex-direction: column;
  justify-items: center;
  overflow: hidden;
}

.info {
  color: #000;
  display: flex;
  width: 90%;
  padding: 5%;
  justify-content: space-between;
}

.image {
  display: flex;
  justify-content: center;
}

.selecteEmployeeOpacity {
  opacity: 0;
}

.selecteEmployee {
  position: absolute;
  background: rgba(255, 0, 0, 0.521);
}


.overflowImage canvas {
  width: 100% !important;
  height: 100% !important;
}

.links{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}