name: Deploy Changed Services

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Make script executable
        run: chmod +x build-changed-services.sh

      - name: Run script
        run: ./build-changed-services.sh
        env:
          PACKAGE_TOKEN: ${{ secrets.PACKAGE_TOKEN }}
