name: Deploy Changed Services

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Build & Restart only changed services
        run: echo ${{ secrets.SSH_SERVER_PASSWORD }} | sudo -S --preserve-env=GITHUB_WORKSPACE -- bash -c "cd $GITHUB_WORKSPACE && echo ${{ secrets.SSH_SERVER_PASSWORD }} | sudo -S bash ./build-changed-services.sh"
