name: Deploy Changed Services

on:
  push:
    branches: [ main ]

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          echo "${{ secrets.PACKAGE_TOKEN }}" | docker login -u gabrielopensource --password-stdin ghcr.io
          docker compose -f docker-compose-pro.yml build files_manager
          docker tag files_manager:latest ghcr.io/gabrieltrinidad0101/informacion-dominicana-files_manager:latest
          docker push ghcr.io/gabrieltrinidad0101/informacion-dominicana-files_manager:latest
        env:
          POSTGRES_DB_USER: ${{ secrets.POSTGRES_DB_USER }} 
          POSTGRES_DB_PASSWORD: ${{ secrets.POSTGRES_DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          MONGO_DB_USER: ${{ secrets.MONGO_DB_USER }}
          MONGO_DB_PASSWORD: ${{ secrets.MONGO_DB_PASSWORD }}
          RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
          RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
          PGADMIN_USER: ${{ secrets.PGADMIN_USER }}
          PGADMIN_PASSWORD: ${{ secrets.PGADMIN_PASSWORD }}
          CLERK_PUBLISHABLE_KEY: ${{ secrets.CLERK_PUBLISHABLE_KEY }} 
          CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
          
  # deploy:
  #   runs-on: self-hosted
  #   steps:
  #     - uses: actions/checkout@v3
  #       with:
  #         fetch-depth: 2

  #     - name: Fix git safe directory
  #       run: sudo git config --system --add safe.directory "$GITHUB_WORKSPACE"

  #     - name: Make script executable
  #       run: chmod +x build-changed-services.sh

  #     - name: Run script
  #       run: docker-compose -f docker-compose-pro.yml up dokploy -d --build
  #       env:
  #         POSTGRES_DB_USER: ${{ secrets.POSTGRES_DB_USER }} 
  #         POSTGRES_DB_PASSWORD: ${{ secrets.POSTGRES_DB_PASSWORD }}
  #         POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
  #         MONGO_DB_USER: ${{ secrets.MONGO_DB_USER }}
  #         MONGO_DB_PASSWORD: ${{ secrets.MONGO_DB_PASSWORD }}
  #         RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
  #         RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
  #         PGADMIN_USER: ${{ secrets.PGADMIN_USER }}
  #         PGADMIN_PASSWORD: ${{ secrets.PGADMIN_PASSWORD }}
  #         CLERK_PUBLISHABLE_KEY: ${{ secrets.CLERK_PUBLISHABLE_KEY }} 
  #         CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
