name: Deploy Changed Services

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2  # ensures HEAD~1 exists for git diff

      - name: Fix git safe directory
        run: sudo git config --system --add safe.directory "$GITHUB_WORKSPACE"

      - name: Make script executable
        run: chmod +x build-changed-services.sh

      - name: Run script
        run: ./build-changed-services.sh
