name: Deploy Changed Services

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Fix git safe directory
        run: sudo git config --system --add safe.directory "$GITHUB_WORKSPACE"

      - name: Make script executable
        run: chmod +x build-changed-services.sh

      - name: Run script
        run: ./build-changed-services.sh
        env:
          POSTGRES_DB_USER: ${{ secrets.POSTGRES_DB_USER }}
          POSTGRES_DB_PASSWORD: ${{ secrets.POSTGRES_DB_PASSWORD }}
          POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
          MONGO_DB_USER: ${{ secrets.MONGO_DB_USER }}
          MONGO_DB_PASSWORD: ${{ secrets.MONGO_DB_PASSWORD }}
          RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
          RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
          PGADMIN_USER: ${{ secrets.PGADMIN_USER }}
          PGADMIN_PASSWORD: ${{ secrets.PGADMIN_PASSWORD }}
          CLERK_PUBLISHABLE_KEY: ${{ secrets.CLERK_PUBLISHABLE_KEY }} 
          CLERK_SECRET_KEY: ${{ secrets.CLERK_SECRET_KEY }}
